!!!
%html
  %head
    %title QuizBuzz
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = "Welcome, #{controller.current_user.name}" if controller.current_user
    #notifications
      - if flash[:notices]
        - flash[:notices].each do |notice|
          %p=notice
      - if flash[:errors]
        - flash[:errors].each do |error|
          %p=error
    = yield
